/**admin模板样式**/
table #admin {width:760px;height:600px; vertical-align:top;cellpadding:0; cellspacing:0;background-color:#333333}
#admin #header {font-size:20px;color:white;font-weight:bold}
#admin  ul,li { list-style:none;font-size:12px}
#admin  ul {padding:0;margin:0;}
.main {float:left;line-height:30px;text-align:center;font-weight:bold;background-color:white}
.main a {display:block;display: inline-block;width:90px;border-left:1px solid #666666; border-right:1px solid #666666;}
#admin li a:link {color:#666666;text-decoration:none;display: }
#admin li a:visited { color:#666666; text-decoration:none;}
#admin li a:hover {color:#666666; text-decoration:underline}
.submit {font-size:12px;color:#666666;}

form {margin-left:8px;}
form p{font-size:12px;color:white;font-family:Tahoma}
#config {margin-top:30px;}
#config #id_title,#id_description{font-size:12px;color:#666666; width:400px;height:20px;margin-left:12px;border-width:0;}
#id_keywords {font-size:12px;color:#666666; width:400px;height:20px;border-width:0;}
#config .submit {font-size:12px;color:#666666;margin-left:66px;}
.reset {font-size:12px;color:#666666;margin-right:184px;}

#id_email {font-size:12px;color:#666666;width:200px;height:18px;border-width:0;margin-left:9px}
#id_username {font-size:12px;color:#666666;width:200px;height:18px;border-width:0}
#id_password {font-size:12px;color:#666666;width:200px;height:18px;border-width:0;margin-left:12px}
#user .submit {margin-left:42px;}
#userlist {font-family:Tahoma; font-size:12px;color:#666666; margin-left:8px;border:0.5px solid white} 
#userlist td {text-align:left;height:30px;margin-left:10px;background-color:#e4e4e4;border:0.3px solid #999999}
#userlist a:link {color:#666666;}
#userlist a:visited {color:#666666;}
#userlist a:hover {color:#666666;text-decoration:underline}

#addcontent #id_title,#id_parent {font-size:12px;color:#666666; width:150px;border-width:0;}
.add {margin-top:0;margin-bottom:0}
.add a:link {color:white}
.add a:visited {color:white}
.site {margin-left:14px; margin-top:6px;color:white;}
.sub {margin-top:3px;}
#contentlist ul {padding-left:20px;padding-top:0}
#contentlist li {list-style:square }
#contentlist li a:link,#contentlist li a:visited{color:white;text-decoration:none}
#contentlist li a:hover {color:white;text-decoration:underline}

#addnews #id_title,#id_type {font-size:12px;color:#666666; width:150px;border-width:0;}
#newslist {font-family:Tahoma; font-size:12px;color:#666666; margin:8px;border:0.5px solid white;vertical-align:top} 
#newslist td {text-align:left;background-color:#e4e4e4;border:0.3px solid #999999;height:25px;}
#newslist a:link {color:#666666;}
#newslist a:visited {color:#666666;}
#newslist a:hover {color:#666666;text-decoration:underline}

#id_caseName,#id_caseUrl,#id_caseImage {font-size:12px;color:#666666; width:200px;}
#id_caseCaption {height:120px;width:400px;font-size:12px;color:#666666}
#thumb {margin-left:55px;}
#editcase .submit {font-size:12px;color:#666666;margin-left:55px;}

#id_linkTitle,#id_linkUrl {width:200px;font-size:12px;color:#666666}