.kuan460 {WIDTH: 590px; TEXT-ALIGN: left; border:1px solid #C5D4DB; }


.blue01:link {
	FONT-SIZE: 14px; COLOR: #074495; TEXT-DECORATION: none
}
.blue01:visited {
	FONT-SIZE: 14px; COLOR: #074495; TEXT-DECORATION: none
}
.blue01:active {
	FONT-SIZE: 14px; COLOR: #074495; TEXT-DECORATION: underline
}
.blue01:hover {
	FONT-SIZE: 14px; COLOR: #074495; TEXT-DECORATION: underline
}

#Carousel {
	VISIBILITY: hidden; MARGIN-BOTTOM: 0px; WIDTH: 590px; HEIGHT: 200px
}
#Carousel .bg {
	WIDTH: 590px; POSITION: absolute; HEIGHT: 200px
}
#Carousel .slide {
	WIDTH: 590px; POSITION: absolute; HEIGHT: 200px
}
#Carousel .frame {
	WIDTH: 590px; POSITION: absolute; HEIGHT: 200px
}
#Carousel .slide .text {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 10px 0px 0px 240px; WIDTH: 320px; LINE-HEIGHT: 16px; FONT-FAMILY: arial; POSITION: absolute
}
#Carousel .slide .text H1 {
	FONT-WEIGHT: 100; FONT-SIZE: 20px; padding: 0px; color:#333; MARGIN: 0px 0px 6px; LINE-HEIGHT: 22px; FONT-FAMILY: "黑体",Arial Black,sans-serif
}
#Carousel .dark .text A {
	COLOR: #333
}
#Carousel .dark .text A:hover {
	COLOR: #c00
}
#Carousel .slide .image {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 200px; TEXT-ALIGN: center
}
#Carousel .slide .screen {
	MARGIN-TOP: 10px; WIDTH: 200px
}
#Carousel .slide .album {
	MARGIN: 19px 0px 0px; WIDTH: 180px
}
#Carousel .slide .feature {
	MARGIN-TOP: 30px
}
#Carousel #CaroLinks {
	MARGIN-TOP: 165px; VISIBILITY: visible; MARGIN-LEFT: 365px; WIDTH: 250px; LINE-HEIGHT: 42px; POSITION: absolute;
}
#CaroLinks .bubble .bbg {
	POSITION: absolute
}
#CaroLinks .bubble {
	FLOAT: left; WIDTH: 110px; HEIGHT: 35px
}
#CaroLinks .bubble#on A {
	TEXT-DECORATION: underline
}
#CaroLinks .bubble A IMG {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-RIGHT: 6px
}
#CaroLinks .bubble A SPAN {
	MARGIN-TOP: 4px; DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 110px; CURSOR: pointer; WHITE-SPACE: nowrap; TEXT-OVERFLOW: clip
}
#CaroLinks .bubble A {
	MARGIN-TOP: 5px; DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 10px; OVERFLOW: hidden; WIDTH: auto; COLOR: #06c; LINE-HEIGHT: 15px; MARGIN-RIGHT: 5px; FONT-FAMILY: verdana; POSITION: absolute; HEIGHT: 30px; TEXT-OVERFLOW: clip; TEXT-DECORATION: none
}
#CaroLinks .bubble A:hover {
	TEXT-DECORATION: underline
}
