{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/media/css/basic.css" media="screen" >
    <link rel="stylesheet" type="text/css" href="/media/css/layout.css" media="screen, print">
    <meta name="description" content="{{STUDIO_INFO.description}}" />
	<meta name="keywords" content="{{STUDIO_INFO.keywords}}" />
	<title>{% block head-title %}{{STUDIO_INFO.title}}{% endblock %}</title>
	{% block head-link %}
	{% endblock %}
	
	{% block head-style %}
	<!--for inline CSS style-->
	{% endblock %}
    <!--[if IE]>
      <script type="text/javascript" src="/media/js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">
	    // Use language_code in javascript
	    var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}'
    </script>
    <script type="text/javascript" src="/media/js/basic.js"></script>
	{% block head-script %}
	<!--For Javascript-->
	{% endblock %}
</head>
<body>

    <div id="background">
      <div id="wrapper">

        <header id="header">

          <hgroup class="logo">
            <h1><a href="/" title="Back to homepage"><img src="/media/img/logo.gif" alt="{%trans 'Yan Chuang Network'%}"></a></h1>
            <h2>{%trans 'We build websites around the world'%}</h2>
          </hgroup>

          <nav>
            <h2 class="hidden">Navigation</h2>

            <div id="mainMenu">
              <ul>
                <li  id="nav_home"><a href="/"><span>{% trans "Home" %}</span></a></li>
                {% for menu in navigation_top %}
		        <li {% if menu.slug in request.path %}class="active"{% endif %}><a href="{% url studiocontents.views.content menu.slug %}"><span>{{ menu.title }}</span></a>
		        </li>
		        {% endfor %}
              </ul>
            </div>

            <h2 class="hidden">{% trans "Quick Navigation" %}</h2>

            <ul id="quickNav">
              <li class="home"><a href="/" title="{%trans 'Homepage' %}"><span>{%trans 'Homepage' %}</span></a></li>
              <li class="map"><a href="/sitemap" title="{%trans 'Sitemap' %}"><span>{%trans 'Sitemap' %}</span></a></li>
              <li class="contact"><a href="/contact" title="{%trans 'Contact' %}"><span>{%trans 'Contact' %}</span></a></li>
            </ul>

            <h2 class="hidden">{% trans "Languages:" %}</h2>
            <ul id="lang">
              {% for language in LANGUAGES %}
              <li class="{% ifequal language.0 'zh-cn'%}cn{%else%}{{ language.0 }}{% endifequal %}"><a href="javascript:void(0)" onclick="setlang('{{ language.0 }}')" title="{{ language.1 }}"><span></span>{{ language.0 }}</a></li>
              {% endfor %}
            </ul>
            
          </nav>
		<form id="setlang" action="/i18n/setlang/" method="post" class="hidden">
			<input name="next" type="hidden" value="{{ request.path }}" />
			<input name="language" type="hidden" value="" />
		</form>

          <form action="./" style="visibility:hidden;">
            <fieldset>
              <legend>Search</legend>
              <input type="search" class="text" name="search" title="Enter search word or phrase">
              <input type="submit" class="submit" value="Search">
            </fieldset>
          </form>

        </header>

{% block content %}
这里是网页内容，使用其他模板时，将网页内容放到这里面。
{% endblock %}
{% block sidebar%}
这里是右侧内容，使用其他模版时，把右侧内容放到这里
{% endblock %}
</div>
</div>

<footer id="footer">
  <div class="width">
    <p class="copyright">
      <small>
        {% trans "&copy; Yan Chuang Network 2010, All rights reserved." %}
      </small>
    </p>

    <p class="cms">
      <small>
        This <abbr title="Content-management System">CMS</abbr> was developed by <a href="./">yancreate.com</a>. <a href="http://www.miibeian.gov.cn">京ICP备05002219号-5</a>
      </small>
    </p>

    <div id="linkbuilding">
      <ul>
      	{% for menu in navigation_bottom %}
      	<li>
      		<a href="{% url studiocontents.views.content menu.slug %}" title="{{ menu.title }}">{{ menu.title }}</a>
      	</li>	
      	{% endfor %}
      </ul>
    </div>

  </div>
</footer>

</body>
</html>