{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/css/basic.css" media="screen" >
<link rel="stylesheet" type="text/css" href="/media/css/layout.css" media="screen, print">
<meta name="description" content="{{STUDIO_INFO.description}}" />
<meta name="keywords" content="{{STUDIO_INFO.keywords}}" />
<title>{% block head-title %}{{STUDIO_INFO.title}}{% endblock %}</title>
{% block head-link %}
{% endblock %}

{% block head-style %}
<!--for inline CSS style-->
{% endblock %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
// Use language_code in javascript
var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}'
</script>
<script type="text/javascript" src="/media/js/basic.js"></script>
{% block head-script %}
<!--For Javascript-->
{% endblock %}
</head>
<body>
<div class="headertop">
	<h2 class="hidden">{% trans "Languages:" %}</h2>
	<ul id="lang">
		{% for language in LANGUAGES %}
		<li class="{% ifequal language.0 'zh-cn'%}cn{%else%}{{ language.0 }}{% endifequal %}"><a href="###" onclick="setlang('{{ language.0 }}')" title="{{ language.1 }}"><span></span>{{ language.0 }}</a></li>
		{% endfor %}
	</ul>
	<form id="setlang" action="/i18n/setlang/" method="post" class="hidden">
		<input name="next" type="hidden" value="{{ request.path }}" />
		<input name="language" type="hidden" value="" />
	</form>
</div>
<div class="mainbox">
	<div class="header">
		<div class="logo"><a href="/"><img src="/media/img/logo.gif" alt="" /></a></div>
	</div>
	<div class="menu">
		<div id="tabs6">
			<ul>
				<li id="nav_home"><a href="/"><span>{% trans "Home" %}</span></a></li>
				{% for menu in navigation_top %}
				<li {% if menu.slug in request.path %}class="active"{% endif %}>
					<a href="{% url studiocontents.views.content menu.slug %}"><span>{{ menu.title }}</span></a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div style="clear:both"></div>
		<h1></h1>
		<div style="clear:both"></div>
	</div>
	<div class="mainpage">
		<div class="left"> 
		{% block sidebar%}
		这里是右侧内容，使用其他模版时，把右侧内容放到这里
		{% endblock %}
		</div>
	</div>
	<div class="right">
	{% block content %}
	这里是网页内容，使用其他模板时，将网页内容放到这里面。
	{% endblock %}
	</div>
	<div style="clear:both"></div>
</div>
<div class="bottom">
	<div class="bot">
		<span></span>
		<div class="botext">
			{% for menu in navigation_bottom %}
			<a href="{% url studiocontents.views.content menu.slug %}" title="{{ menu.title }}">{{ menu.title }}</a>
			{% endfor %}
		</div>
		<div class="yancreate"><img src="/media/img/blue/ycopy.gif"></div>
		{% trans "&copy; Yan Chuang Network 2010, All rights reserved." %} <br />
		This <abbr title="Content-management System">CMS</abbr> was developed by <a href="./">yancreate.com</a>. <a href="http://www.miibeian.gov.cn">京ICP备05002219号-5</a> <br />
	</div>
	<div class="bot2"></div>
</div>
</body>
</html>