{% extends "base.html" %}
{% block head-script %}
<script type="text/javascript" src="/media/js/thickbox/thickbox.js"></script>
{% endblock %}
{% block head-style %}
<link rel="stylesheet" href="/media/js/thickbox/thickbox.css" type="text/css" media="screen" />
{% endblock %}
{% block content%}
<div id='header'>
	<div class='limiter clear-block'>
		<h1 class='page-title'>{{ content.title }}</h1>
	</div>
</div>
<div id="page">
	<div class='limiter clear-block'>
		<div class='page-content clear-block'>
		<!-- Right sidebar -->
		<!-- Content region -->
			<div id='main' class=' clear-block'>
				<div class="view view-dc-ads view-id-dc_ads view-display-id-block_1 view-dom-id-4" style="border:0;"> 
					<div class="view-content">
						<div class="item-list">
							<ul>
								{% for case in cases.object_list %}
								<li class="views-row {% if forloop.last %}views-row-last{% endif %} {% if forloop.first %}views-row-first{% endif %}" style="height:180px;">  
									<div class="views-field-field-image-fid">
										<span class="field-content">  <a href="/media/{{case.preview}}?TB_iframe=true" title="{{case.name}}" class="thickbox thickbox-preview screenshot"><img src="{{ case.preview.thumbnail }}" alt="{{ case.name }}" title="{{ case.name }}"  class="imagecache imagecache-240x160 imagecache-default imagecache-240x160_default" width="240" height="160" /></a></span>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					
				</div>
				<div class="pagination" style="width:300px;padding-left:30px;clear:both;">
				    <br/><br/>
				    <span class="step-links">
				        {% if cases.has_previous %}
				            <a href="?page={{ cases.previous_page_number }}">上一页</a>
				        {% endif %}
				        <span class="current_page">
				            第 {{ cases.number }} 页，共 {{ cases.paginator.num_pages }} 页
				        {% if cases.has_next %}
				            <a href="?page={{ cases.next_page_number }}">下一页</a>
				        {% endif %}
				    </span>
				</div>
			</div>
			<p><br><br><br><br><br><br></p>
		</div>
		<div class='village'></div>
	</div>
</div><!-- /#page -->
{% endblock %}
