{% extends "base.html" %}
{% load placeholders_tags i18n %}
{% block head-title %}{% trans "Show cases" %} - {{STUDIO_INFO.title}}{% endblock %}
{% block head-script %}
<script type="text/javascript" src="/media/js/thickbox/thickbox.js"></script>
{% endblock %}
{% block head-style %}
<link rel="stylesheet" href="/media/js/thickbox/thickbox.css" type="text/css" media="screen" />
{% endblock %}
{% block content%}
<section id="content">
	<h1>{{ content.title }}</h1>
	<p>{{ content.content|safe }}</p>
	
	<section class="floatCases">
            <h1>{%trans "Show Cases"%}</h1>
			{% for case in cases.object_list %}
            <article {% if forloop.last %}class="last"{% endif %}>
              <a href="/case/{{case.slug}}" title="{{case.name}}">
                <img src="{{ case.preview.thumbnail }}" />
                <h1>{{case.name}}</h1>
                <p>{{ case.description|escape|slice:":140" }}</p>
              </a>
            </article>
			{% endfor %}
								
	</section>
			    <span class="pagination">
			        {% if cases.has_previous %}
			            <a href="?page={{ cases.previous_page_number }}">&lt;&lt; {% trans "Previous"%} </a>
			        {% endif %}
			        <span class="current_page">
			            &nbsp;{{ cases.number }}/{{ cases.paginator.num_pages }}&nbsp;
			        {% if cases.has_next %}
			            <a href="?page={{ cases.next_page_number }}"> {% trans "Next" %} &gt;&gt;</a>
			        {% endif %}
			    </span>
</section>
{% endblock %}
{% block sidebar%}
<aside id="sidebar">
	<nav class="navMenu">
		<h1>{%trans 'Case Type'%}</h1>

		<ul>
			{% for cat in cases_categories %}
			<li><a href="#">{{ cat.name }}</a></li>
			{% endfor %}
		</ul>
	</nav>
	
	<h1>{%trans 'Quick Contact'%}</h1>

	<address>
		{% listne "sidebar_contact" LANGUAGE_CODE as sidebar_contact %}
	    {% box sidebar_contact|join:'-' %}
	</address>
  
</aside>
{% endblock %}
