{% extends "base.html" %}
{% load placeholders_tags i18n %}
{% block head-title %}{{ case.name }} - {{STUDIO_INFO.title}}{% endblock %}
{% block head-script %}
<script type="text/javascript" src="/media/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/media/js/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/media/js/ui/jquery.ui.button.js"></script>
<script type="text/javascript" src="/media/js/thickbox/thickbox.js"></script>
<script type="text/javascript">
$(function() {
	$(".visitbutton").button({
		icons: {
		    primary: 'ui-icon-contact'
		}
	});
});
</script>
{% endblock %}
{% block head-style %}
<link rel="stylesheet" href="/media/js/thickbox/thickbox.css" type="text/css" media="screen" />
<link type="text/css" href="/media/css/ui/jquery.ui.all.css" rel="stylesheet" />
{% endblock %}
{% block content%}
<section id="content">
	<h1>{{case.name}}</h1>
	<p>
		<a href="/media/{{case.preview}}" class="thickbox"><img src="{{case.preview.extra_thumbnails.420_300}}" border="0"/></a>
	</p>
	<p>{{case.description}}</p>
	<p><a href="{{case.url}}" class="visitbutton" target="_blank">{%trans 'Visit site'%}</a> <a href="/contact" class="visitbutton">{% trans 'Contact us'%}</a> <a href="/showcase" class="visitbutton">{%trans 'More cases'%}</a></p>
</section>
{% endblock %}

{% block sidebar%}
<aside id="sidebar">
	<nav class="navMenu">
		<h1>{%trans 'Navigation'%}</h1>

		<ul>
			{% for menu in navigation_top %}
	            {% if menu.navigation_set.all %}
	                {% if menu.slug in request.path %}
	                {% for sub_menu in menu.navigation_set.all %}
	                <li><a href="{% url studiocontents.views.content sub_menu.slug %}">{{ sub_menu.title }}</a></li>
	                {% endfor %}
	                {% else %}
	                <script>$('.navMenu').hide();</script>
	                {% endif %}
	            {% endif %}
	        </li>
	        {% endfor %}
		</ul>
	</nav>
	
	<h1>{%trans 'Quick Contact'%}</h1>

	<address>
		{% listne "sidebar_contact" LANGUAGE_CODE as sidebar_contact %}
	    {% box sidebar_contact|join:'-' %}
	</address>
  
</aside>
{% endblock %}