{% extends "base.html" %}

{% block content%}
<div id='header'>
	<div class='limiter clear-block'>
		<h1 class='page-title'>{{ content.title }}</h1>
	</div>
</div>
<div id="page">
	<div class='limiter clear-block'>
		<div class='page-content clear-block'>
		<!-- Right sidebar -->
		<!-- Content region -->
			<div id='main' class='clear-block'>
				<div id="node-33" class="node clear-block ">
					<div class="node-content clear-block">
						<p>{{ content.content|safe }}</p>
					</div>
					<p>
						<br>
						<br>
						<br>
						<br>
						<br>
					</p>
				</div>
			</div>
		</div>
		<div class="village"></div>
	</div>
</div><!-- /#page -->
{% endblock %}