{% extends "base.html" %}
{% load placeholders_tags i18n %}
{% block content%}
<script>
$('#nav_home').addClass('active');
</script>
 <section id="content">

          {% listne "about_us" LANGUAGE_CODE as about_us %}
	      {% box about_us|join:'-' %}

          <section class="floatBoxes">
            <h1>{%trans "Show Cases"%}</h1>

            <article>
              <a href="/showcase">
                <img src="{{ cases.0.preview.thumbnail }}" />
                <h1>{{ cases.0.name }}</h1>
                <p>{{ cases.0.description|safe|truncatewords:"10" }}</p>
              </a>
            </article>

            <article>
              <a href="/showcase">
                <img src="{{ cases.1.preview.thumbnail }}" />
                <h1>{{ cases.1.name }}</h1>
                <p>{{ cases.1.description|safe|truncatewords:"10" }}</p>
              </a>
            </article>

            <article class="last">
              <a href="/showcase">
                <img src="{{ cases.2.preview.thumbnail }}" />
                <h1>{{ cases.2.name }}</h1>
                <p>{{ cases.2.description|safe|truncatewords:"10" }}</p>
              </a>
            </article>
          </section>

          <section class="newsList">
            <h1>{%trans "Company News"%}</h1>
			{% for news in news %}
            <article>
              <h1><a href="#">{{news.title}}</a> <small>{%ifequal news.news_type 'news'%}{%trans "News"%}{%endifequal%}{%ifequal news.news_type 'done'%}{%trans "Done"%}{%endifequal%}{%ifequal news.news_type 'doing'%}{%trans "In Progress"%}{%endifequal%}</small></h1>
              <p>{{news.content}}</p>
            </article>
            {% endfor %}
            
          </section>

        </section>
{% endblock %}
{% block sidebar%}
<aside id="sidebar">
<nav class="navMenu">
	<h1>{%trans 'Services'%}</h1>

	<ul>
		<li><a href="service/">{% trans "Web Design"%}</a></li>
		<li><a href="service/">{% trans "Website Content Management"%}</a></li>
		<li><a href="service/">{% trans "Business Systems"%}</a></li>
		<li><a href="service/">{% trans "Online Stores (e-commerce)"%}</a></li>
	</ul>
</nav>  
<h1>{% trans 'Quick Contact' %}</h1>

<address>
		{% listne "sidebar_contact" LANGUAGE_CODE as sidebar_contact %}
	    {% box sidebar_contact|join:'-' %}
</address>

</aside>
{% endblock %}
