{% extends "base.html" %}
{% load placeholders_tags %}
{% block content%}
<div id='header'><div class='limiter clear-block'>
      <div id="block-views-dc_header-block_1" class="block block-views">

  <div class="content">
    <div id='coda-slider' class='csw'>
<div class="panelContainer view view-dc-header view-id-dc_header view-display-id-block_1 view-dom-id-3">

  
  <div class='panel' title='What is Drupal?'>

  <a href="/drupalcom/ahah/dc_header/block_1" class="ahah-refresh">Next</a>
    
  
      <div class="view-content">
      <div class="matrix clear-block">
  <div class='left clear-block'>
              <div class="matrix-item item-0"><img src="/media/cases/yugongwang_png_100x100_crop_q85.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-1"><img src="/media/cases/mediamarkt_png_100x100_crop_q85.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-2"><img src="/media/cases/shhrpx_png_240x160_crop_q85.jpg" alt="" title=""  width="210" height="190" /></div>
          </div>
  <div class='center clear-block'>
              <div class="matrix-item item-0"><img src="/media/cases/uol_png_420x300_q85.jpg" alt="" title=""  width="420" height="300" /><div class='image-caption'></div></div>
          </div>
  <div class='right clear-block'>
              <div class="matrix-item item-0"><img src="/media/cases/shhrpx_png_210x80_crop_q85.jpg" alt="" title=""  width="210" height="80" /></div>
          <div class="matrix-item item-1"><img src="/media/cases/microcall_png_100x100_crop_q85.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-2"><img src="/media/cases/pinzui_png_100x100_crop_q85.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-3"><img src="/media/cases/shhrpx_png_100x100_crop_q85.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-4"><img src="/media/cases/uol_png_100x100_crop_q85.jpg" alt="" title=""  width="100" height="100" /></div>
          </div>
</div>
<div class='matrix-caption matrix-caption-1 clear-block'>
    
  <div class="views-field-body">
                <div class="field-content">岩创为 <a href="http://buytaert.net/tag/fortune-500">世界五百强</a> 建设品牌网站.
</div>
  </div>
</div>
    </div>
  
  
  
  
  
  </div>

  
  
  <div class='panel' title='Who is Drupal?'>

  <a href="/drupalcom/ahah/dc_header/attachment_1" class="ahah-refresh">Next</a>
    
  
      <div class="view-content">
      <div class="matrix clear-block">
  <div class='left clear-block'>
              <div class="matrix-item item-0"><img src="http://www.drupal.com/sites/default/files/imagecache/100x100/collaboration.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-1"><img src="http://www.drupal.com/sites/default/files/imagecache/100x100/pumpkin.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-2"><img src="http://www.drupal.com/sites/default/files/imagecache/210x190/1433021094_20832e61f1_b.jpg" alt="" title=""  width="210" height="190" /></div>
          </div>
  <div class='center clear-block'>
              <div class="matrix-item item-0"><img src="http://www.drupal.com/sites/default/files/imagecache/420x300/hair-style.jpg" alt="" title=""  width="420" height="300" /><div class='image-caption'><strong>Boris Mann</strong>Drupal evangelist</div></div>
          </div>
  <div class='right clear-block'>
              <div class="matrix-item item-0"><img src="http://www.drupal.com/sites/default/files/imagecache/210x80/54420320_688cad8213_o.jpg" alt="" title=""  width="210" height="80" /></div>
          <div class="matrix-item item-1"><img src="http://www.drupal.com/sites/default/files/imagecache/100x100/dmitri2.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-2"><img src="http://www.drupal.com/sites/default/files/imagecache/100x100/2312010939_ba037f3f59_b.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-3"><img src="http://www.drupal.com/sites/default/files/imagecache/100x100/charlotte-miles.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-4"><img src="http://www.drupal.com/sites/default/files/imagecache/100x100/drupalcon-dc.jpg" alt="" title=""  width="100" height="100" /></div>
          </div>
</div>
<div class='matrix-caption matrix-caption-1 clear-block'>
    
  <div class="views-field-body">
                <div class="field-content">岩创有专业的团队承接 <strong>企业网站</strong> 建设.</div>
  </div>
</div>
    </div>
  
  
  
  
  
  </div>

  

  
  <div class='panel' title='Where is Drupal?'>

  <a href="/drupalcom/ahah/dc_header/attachment_2" class="ahah-refresh">Next</a>
    
  
      <div class="view-content">
      <div class="matrix clear-block">
  <div class='left clear-block'>
              <div class="matrix-item item-0"><img src="http://www.drupal.com/sites/default/files/imagecache/100x100/socks.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-1"><img src="http://www.drupal.com/sites/default/files/imagecache/100x100/drupal-class.jpg" alt="" title=""  width="100" height="100" /></div>
          <div class="matrix-item item-2"><img src="http://www.drupal.com/sites/default/files/imagecache/210x190/images-mission-bicycle-2009-drupal-bike-10-700x700.jpg" alt="" title=""  width="210" height="190" /></div>
          </div>
  <div class='center clear-block'>
              <div class="matrix-item item-0"><img src="http://www.drupal.com/sites/default/files/imagecache/420x300/space.jpg" alt="" title=""  width="420" height="300" /><div class='image-caption'></div></div>
          </div>
  <div class='right clear-block'>
              <div class="matrix-item item-0"><img src="http://www.drupal.com/sites/default/files/imagecache/210x145/soup.jpg" alt="" title=""  width="210" height="145" /></div>
          <div class="matrix-item item-1"><img src="http://www.drupal.com/sites/default/files/imagecache/210x145/drupalcon-paris.jpg" alt="" title=""  width="210" height="145" /></div>
          </div>
</div>
<div class='matrix-caption matrix-caption-1 clear-block'>
    
  <div class="views-field-body">
                <div class="field-content">岩创网络旗下 <strong>网站</strong>.</div>
  </div>
</div>
    </div>
  
  
  
  
  
  </div>

  

</div></div>
  </div>
</div>

          </div></div>
  
<div id="page"><div class='limiter clear-block'>

    
	<div class='page-content clear-block'>
	
	      <!-- Right sidebar -->
	      
	      <!-- Content region -->
	      <div id='main' class='clear-block'>
	        <div class='mission'>
	        	{% listne "about_us" LANGUAGE_CODE as about_us %}
	        	{% box about_us|join:'-' %}
	        </div>
	        <div class='site-links clear-block'>
	            <ul class="links primary-links">
	            	<li class="groups first"><a href="http://site.yancreate.com" title="企业网站生成平台" target="_blank"><span class='icon'></span><strong>site</strong>.yancreate.com<span class='description'>企业网站生成平台</span></a></li><li class="planet"><a href="http://tellceo.yancreate.com" title="企业快捷沟通平台，企业微博客" target="_blank"><span class='icon'></span><strong>tellceo</strong>.yancreate.com<span class='description'>企业快捷沟通平台，企业微博客</span></a></li><li class="drupal last"><a href="http://yancreate.com" title="网站建设 + 网络品牌建设" target="_blank"><span class='icon'></span><strong>yancreate</strong>.com<span class='description'>品牌网站建设 + 网站网络推广</span></a></li>
	            </ul>
			</div>
		</div>
	</div>
	<div id="block-views-dc_ads-block_1" class="block block-views">
		<div class="content">
			<div class="view view-dc-ads view-id-dc_ads view-display-id-block_1 view-dom-id-4"> 
				<div class="view-content">
					<div class="item-list">
						<ul>
							<li class="views-row views-row-1 views-row-odd views-row-first">  
								<div class="views-field-field-image-fid">
									<span class="field-content">  <a href="{{cases.0.url }}" target="_blank"><img src="{{ cases.0.preview.thumbnail }}" alt="" title=""  class="imagecache imagecache-240x160 imagecache-default imagecache-240x160_default" alt="{{ cases.0.name }}" width="240" height="160" /></a></span>
								</div>
							</li>
							<li class="views-row views-row-2 views-row-even">  
								<div class="views-field-field-image-fid">
									<span class="field-content">  <a href="{{cases.1.url }}" target="_blank"><img src="{{ cases.1.preview.thumbnail }}" alt="" title=""  class="imagecache imagecache-240x160 imagecache-default imagecache-240x160_default" alt="{{ cases.1.name }} width="240" height="160" /></a></span>
								</div>
							</li>
							<li class="views-row views-row-3 views-row-odd views-row-last">  
								<div class="views-field-field-image-fid">
									<span class="field-content">  <a href="{{cases.2.url }}" target="_blank"><img src="{{ cases.2.preview.thumbnail }}" alt="{{ cases.2.name }}" title="{{ cases.2.name }}"  class="imagecache imagecache-240x160 imagecache-default imagecache-240x160_default" width="240" height="160" /></a></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="view-footer"><a href="/showcase">查看更多的案例</a></div>
			</div>
		</div>
	</div>
 	<div class='village'></div>
</div></div><!-- /#page -->

<div id="test" style="display:none;">
	<div id="focus-image">
		<h2>1.首页焦点图</h2>
		这儿可使用Placeholder
	</div>
	
	<div id="cases-show">
		<h2>2.案例展示</h2>
		<p>从数据库中取出案例，并显示案例预览图，如下：</p>
		<a href="{{cases.0.url }}">～{{ cases.0.name }}</a>
		<img src="{{ cases.0.preview.thumbnail }}" /><br/>
	</div>
	
	<div id="services">
		<h2>3.服务项目</h2>
		<p>可使用Placeholder，或直接调用navigation中的Services内容</p>
	</div>
</div>
{{ cases.0.preview.100_100 }}
{% endblock %}